if post
  // TODO: figure out how to prevent this annoying if clause
  if post.isOp
    .op-post(id='p#{post.id}')
      p.intro
        span.name #{post.name}
        span.date #{post.date}
        a.id(href='/board/#{board.name}/thread/#{thread.id}/#p#{post.id}', id='c#{post.id}') #{post.id}
      .body
        p !{post.text}
  else
    .post(id='p#{post.id}')
      p.intro
        span.name #{post.name}
        span.date #{post.date}
        a.id(href='/board/#{board.name}/thread/#{thread.id}/#p#{post.id}', id='c#{post.id}') #{post.id}
      .body
        p !{post.text}