if post
  // TODO: figure out how to prevent this annoying if clause
  if post.isOp
    .op-post(id='p#{post.id}')
      p.intro
        span.name #{post.name}
        span.date #{post.date}
        a.id(href='#', id='c#{post.id}') #{post.id}
      if post.file
        a(href='/#{post.file}', target='_blank')
          img.post-image(src='/#{post.file}')
      .body
        p !{post.text}
  else
    .post(id='p#{post.id}')
      p.intro
        span.name #{post.name}
        span.date #{post.date}
        a.id(href='#', id='c#{post.id}') #{post.id}
      if post.file
        a(href='/#{post.file}', target='_blank')
          img.post-image(src='/#{post.file}')
      .body
        p !{post.text}